<%- include('partials/header', {title: article.title}) %>
    <div>
        <img src='<%= article.urlToImage%>'>
    </div>
    <div>
        <h1><%= article.title%></h1>
        <p><%= article.description%></p>
    </div>
    <div>
        <%= article.content%>
    </div>
<%- include('partials/footer') -%>
